/* media queries in css are used to apply different styles for different devices or screen sizes.
these include conditions like width, height, orientation, resolution, etc. */

body{
    background-color: aqua;
}

/* @media (orientation: portrait) {
    body{
        background-color: red;
    }
} */



 @media (width<=500px) {
    body{
        background-color: red;
    }
} 


 @media (width<=300px) {
    body{
        background-color: green;
    }
} 