.container{
    width: 600px ;
    height: 600px ;
    background-color: aqua;
}
.box{
    color: white;
    height: 100px ;
    width: 100px ;
}
.static{
    position: static;
    background-color: black;
}
.rel{
    position: relative;
    background-color: red;
    top: 30px ;
}
.abs{
    position: absolute;
    background-color: green;
    top: 150px ;
    left: 150px ;
}
.fix{
    position: fixed;
    background-color: blue;
    top: 200px ;
    left: 450px ;
}
.sti{
    position: sticky;
    background-color: yellow;
    top: 250px ;
}