*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box2{
    padding: 60px;
}
div{
    border: 12px solid lightgreen;
    padding: 10px 40px;/* top and bottom 10px, left and right 40px */
    margin: 40px 40px; /* top and bottom 40px, left and right 40px */
    width: 200px;
    height: 210px;
}