.container {
   /* width: 300px;
    height: 200px;
    border: 1px solid #000;
    overflow: auto; /* Adds scrollbars when content overflows */
  /*  text-align: justify; */

 img {
    float: right; /* Floats the image to the right */
     /* Adds space between image and text */
}
}