.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 100px;
    /* transition: 1s; */
    transition-duration: 0.5s; 
    transition-property: background-color, border-radius , transform;
    transition-delay: 0.2s;
    transition-timing-function: linear;

}
.box:hover{
    background-color: red;
    border-radius: 50%;
    transform: rotate(120deg);
    
}
nav{
    background-color: lightgreen;

}

.list{
    display: flex;
    gap: 20px;
    list-style: none;
}
.item{
    font-size: 1.2rem;
}
.item:hover{
    color: orange;
    background-color: lightgray;
    cursor: pointer;
    transition: 0.2s ease-in;
    transform: translateY(-12px);
}