/* CSS variables let you store a value once and reuse it many times in your CSS.​

they are
Also called custom properties, written with two dashes like --primary-color.​

You use them to keep colors, sizes, etc. consistent and easy to change.​

 syntax;
Define (usually global) inside :root:

css
:root {
  --primary-color: blue;
  --font-size: 16px;
}
Use with var():

css
h1 {
  color: var(--primary-color);
  font-size: var(--font-size);
}
Key points
Global variables: in :root, available everywhere.​

Local variables: inside a selector, only for that element and its children.​

Optional fallback: color: var(--primary-color, red); if the variable is missing.​
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: coral;
    --secondary-text-color: lightblue;
    --card-background-color: lightgray;
    --parent-background-color: lightyellow;
    --spacings-for-margin-padding: 20px;
} 

.container{
    padding: 45px;
    background-color: var(--parent-background-color);
    min-height: 100vh;
}


h1{
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--secondary-text-color);
    padding: var(--spacings-for-margin-padding);
    margin: var(--spacings-for-margin-padding);
}

h2{
    /* background-color: var(--bg-color);  */
    color: var(--primary-text-color);
}
.box{
    padding: 20px;
     margin-block: 20px;
     background-color: var(--card-background-color);
     border-radius: 12px;
}
h4{
     background-color: var(--bg-color, yellow); 
}

/* @media (max-width:600px){
    .box{
        --bg-color:lightgreen;
    }
} */

