*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive, sans-serif;
    font-size: 1.2rem;
}
.container{

    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #ffecd2 , #fcb69f );

}
.left{
   flex-basis: 40%;
}
.right{
    flex-basis: 50%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
   
}
.left h2{
    color: #333;
    font-size: 3rem;
    text-align: center;
}
.left p{
   
    color: #555;
    margin-top: 10px;
    text-align: center;
    
}
.child-imgs{
    background-size: cover;
    background-position: top;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    background-blend-mode: hard-light;
}
#img-1{
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    height: 150px;
}