@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1{
    color: blue;
    background-color: wheat;
    font-family: 'poppins';
    text-align: center;
    

}
p{
    color: green;
    font: 16px serif;
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 0.06rem;
    line-height: 1rem;
    word-spacing: 6px;
    text-shadow: 2px 2px 5px tomato;

}
a{
    color: red;
    background-color: lightblue;
    font: 18px monospace;
    text-decoration: underline;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}



/*texts in css are styled using various properties like color,
 font, text-align, text-indent, letter-spacing, line-height,
  word-spacing, text-shadow, etc. Different fonts can be
 applied using the font-family property.
    Links can be styled using the anchor tag (a) and
    properties like color, background-color, font, text-decoration,
    etc.*/ 

/*fonts can be imported using @import url('font link') at the top of the css file.*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/
/*In the above code, the Poppins font is imported from Google Fonts and applied to the h1 element using the font-family property.*/
/*The comments in the code explain the various properties used for styling texts and fonts in CSS.*/   


