
/* grid in css is a powerful layout system that allows you
 to create complex web designs easily.
 it is based on a two-dimensional grid system,
    allowing you to arrange elements in rows and columns.
it provides a flexible way to control the placement and sizing of elements within a container.
and it is especially useful for creating responsive layouts that adapt to different screen sizes.


 Below is an example of a simple grid layout using CSS. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  border: 2px solid red;
  display: grid;
  gap: 10px;
   /* grid-template-columns: 100px 200px 150px;  /* values can be in px, %, fr */
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 200px 100px;
    /* grid-template-rows: 100px 150px; */
    /* grid-auto-rows: 120px; */
     justify-content: center;
    align-content: center;
    height: 100vh;
}
.box{
  border: 2px solid blue;
  padding: 12px;
}

#box-1{
  background-color: lightcoral;
  /* justify-self: center;
    align-self: center; */
    
    /* grid-column-start: 1;
    grid-column-end: 2; */

    grid-column: 1 / 3;

    /* grid-row: 1 / 2;   for rows */ 

    /* grid-area: 1 / 1 / 2 / 3;  it is for the area, play with different numbers */

}
