*{
    border: 1px green solid;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    width: 50%;
    display: block;
    border: 2px red solid;
}
/*
a{
    display: block;
    width: 60%;
    border: 2px blue solid;
    height: 120px;
}
*/
img{
    display: inline-block;
    border: 2px orange solid;
    width: 25%;
}

ul{
    list-style: circle;
    text-decoration: none;
    text-align: end;

}
ul>li>a{
    text-decoration: none;
    color: brown;
    font-size: 20px;
    font-family: cursive;
    padding: 10px;
}
li{
    display: inline;
    margin: 10px;
}