/* selector syntax:
selector type{

propertykey: propertyvalue;

}
*/

/* element selector */

p {
    color: red
}

h2 {
    color: white;
    background-color: black;
}

/* ID selector */

#pId {
    
    color: brown;
}

#p1Id {
    font-size: 20px;
    font-weight: bold;
    color: purple;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* class selector */
.p1Class {
    background-color: lightgrey;
    padding: 10px;
    border: 2px solid black;
}
.nestedId {
    font-size: 18px;
    color: green;
    font-family: 'Courier New', Courier, monospace;

}
.nestedClass {
    background-color: lightyellow;
    padding: 8px;
    border: 2px dashed orange;
}

*{
    font-style: italic;
}