
/* transform in css is used to apply 2D or 3D transformations to an element.
 This allows you to rotate, scale, skew, or translate an element
  without affecting the normal document flow.
    Here are some common transform functions:
    - translate(x, y): Moves the element from its current position by the specified x and y values.
    - rotate(angle): Rotates the element clockwise by the specified angle.
    - scale(x, y): Scales the element in the x and y directions by the specified factors.
    - skew(x-angle, y-angle): Skews the element along the x and y axes by the specified angles.
 You can combine multiple transform functions by separating them with spaces. */




.outer-container {
    width: 300px;
    height: 300px;
    background-color: lightcoral;
    margin: 100px auto;
   
}
.inner-container {
    width: 100px;
    height: 100px;
    background-color: lightseagreen;
    /* transform: scaleX(1.2) scaleY(1.3);/* scale, scaleX, scaleY */
    /* transform: scale(1.2 1.3);  same output as the above line  */
    
    /* transform: skew(25deg);we can skew in skewX, skewY as well */
    
    /* transform: translate( 20px,30px); translateX, translateY   */

    /* transform: rotate(25deg); we can also use rotateX, rotateY, rotateZ */

    /* transform: rotate(45deg) scale(1.2) skew(30deg) translate(50%); multiple transform functions , all in one */

    transform: rotate(50deg);

    transform-origin: top left; /* default is center center */

    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}