main{
border: 2px solid black;
/* border-radius: 5%; */
/*width: 50%;*/
/* %, vw(view width), vh(view height), px(pixels), em, rem  */
/*width: 50vw;*/
}

section{
    border:4px dotted green ;
    height: 90vh;
}

h2{
    border: 3px dashed red;
    /*font-size: 30px; by default, can not be changed in the browser we try to change font size in settings*/

}

body{

    font-size: 2em;
}
/* 1em = font size of the parent element */
/* 1rem = font size of the root element (html) */
/* if we change the font size of the body, the em values will be changed accordingly, but the rem values will remain the same */
/* if we change the font size of the html, both em and rem values will be changed accordingly */
/* we can use em and rem for other properties as well, not just font-size */
header{

    font-size: 2em;
}
h2{
    font-size: 1rem;
}